POSTGRES_DB=nakavid
POSTGRES_USER=nakavid
POSTGRES_PASSWORD=nakavid
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
NAKAVID_STORAGE_ROOT=./data/nakavid/
DJANGO_SECRET_KEY=dev-not-for-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
